/* home page css */

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.wrapper {
    background-color: #fff;
    padding: 20px;
    width: 350px;
    border-radius: 10px;
    text-align: center;
    border: 1px solid #aaa;
}

.wrapper h1 {
    margin-bottom: 20px;
    font-size: 22px;
}  

#comment {
    width: 100%;
    height: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #aaa;
}

#predictBtn {
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    border: none;
    background-color: #5fa8d3;
    color: white;
    font-size: 15px;
    border-radius: 5px;
}

#result {
    margin-top: 15px;
    font-size: 16px;
    color: #333;
}